In [105]:
import pandas as pd 
import numpy as np

In [106]:
mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}
myvar = pd.DataFrame(mydataset)
print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

In [107]:
print(pd.show_versions)

<function show_versions at 0x000001CE7FEFC040>

In [108]:
a=[3,6,8,1]
var=pd.Series(a)
print(var)

0    3
1    6
2    8
3    1
dtype: int64

In [109]:
var1=pd.Series(data=a,index=["x","h","m","w"])
print(var1)

x    3
h    6
m    8
w    1
dtype: int64

In [110]:
s1=pd.Series(data=[1,2,3,4,5],index=list('abcde'))
s2=pd.Series(data=[10,20,30,40,50],index=list('abcde'))
df=pd.DataFrame({'A':s1,'B':s2})
print(df)

   A   B
a  1  10
b  2  20
c  3  30
d  4  40
e  5  50

In [111]:
calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories)

print(myvar)

day1    420
day2    380
day3    390
dtype: int64

In [124]:
calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories, index = ["day1", "day2"])

print(myvar)

day1    420
day2    380
dtype: int64

In [139]:
data = {
  "calories": [420, 380, 39400,456,7890],
  "duration": [50, 40, 45,23,54]
}

myvar = pd.DataFrame(data,index=list(range(1,6)))

print(myvar)
myvar.rename(columns={'calories':'CALORIES'},inplace=True)
print(myvar)

   calories  duration
1       420        50
2       380        40
3     39400        45
4       456        23
5      7890        54
   CALORIES  duration
1       420        50
2       380        40
3     39400        45
4       456        23
5      7890        54

In [114]:
s3=pd.DataFrame(data=np.random.randint(1,10),index=list('abcde'),columns=list('stuvwxyz'))
print(s3)

   s  t  u  v  w  x  y  z
a  8  8  8  8  8  8  8  8
b  8  8  8  8  8  8  8  8
c  8  8  8  8  8  8  8  8
d  8  8  8  8  8  8  8  8
e  8  8  8  8  8  8  8  8

In [115]:
print(myvar.loc[[0, 3]])

   calories  duration
0       420        50
3       456        23

In [116]:
print(myvar.loc[2])
print(myvar.loc[0:3])

calories    39400
duration       45
Name: 2, dtype: int64
   calories  duration
0       420        50
1       380        40
2     39400        45
3       456        23

In [117]:
data = {
  "calories": [420, 380, 39400,456,7890],
  "duration": [50, 40, 45,23,54]
}

df = pd.DataFrame(data,index=["data1","data2","data3","data4","data5"])

print(df)

       calories  duration
data1       420        50
data2       380        40
data3     39400        45
data4       456        23
data5      7890        54

In [118]:
print(df.loc["data2":"data4"])

       calories  duration
data2       380        40
data3     39400        45
data4       456        23

In [119]:
print(df.loc[["data2","data4"]])

       calories  duration
data2       380        40
data4       456        23

In [122]:
ds = pd.read_csv('50_Startups_test.csv')
print(ds)

     R&D Spend  Administration  Marketing Spend       State
0     61749.16       118175.79        294919.57     Florida
1     86619.70      1535814.10        118148.20    New York
2     76263.86      1183867.00        298664.47  California
3     68389.47      1583773.40        299737.29    New York
4     73964.56      1282782.70        303319.26     Florida
5     66532.53       105751.03        304768.73         NaN
6     77644.01        99881.34        140574.81    New York
7     64664.71      1839553.10        137962.62  California
8    756328.80       184135.98        134050.07     Florida
9    163334.88       188679.17        304981.62  California
10  1601913.00       110584.11        229160.95     Florida
11   106671.96        91890.61        249744.55  California
12    93663.75       128320.38        249839.44     Florida
13    96992.39       138495.07        252664.93  California
14   116943.24       158547.42        256512.92     Florida
15   116523.61       122816.84        261776.23    New York
16    76013.11       128597.55        264346.06  California
17    94657.16      1485077.50        282574.31  California
18    76107.60       127884.55        353183.81  California
19    66051.52      1828645.50        118148.20     Florida
20   165379.20             NaN        471784.10    New York
21   162547.70       158377.59        443898.53  California
22  1534441.51       108145.55        407934.54  California
23   144472.41       118871.85        383199.62    New York
24   142607.34        91391.77        366168.42     Florida
25   131676.90        99884.71        362861.36    New York
26   136615.46       148198.87        127716.82     Florida
27   130698.13       148530.06        323876.68  California
28   165379.20       136897.80        471784.10    New York

AttributeError: 'str' object has no attribute 'info'

In [52]:
ds.head(10)

   R&D Spend  Administration  Marketing Spend       State
0   61749.16       118175.79        294919.57     Florida
1   86619.70      1535814.10        118148.20    New York
2   76263.86      1183867.00        298664.47  California
3   68389.47      1583773.40        299737.29    New York
4   73964.56      1282782.70        303319.26     Florida
5   66532.53       105751.03        304768.73         NaN
6   77644.01        99881.34        140574.81    New York
7   64664.71      1839553.10        137962.62  California
8  756328.80       184135.98        134050.07     Florida
9  163334.88       188679.17        304981.62  California

In [53]:
ds.to_string()

'     R&D Spend  Administration  Marketing Spend       State\n0     61749.16       118175.79        294919.57     Florida\n1     86619.70      1535814.10        118148.20    New York\n2     76263.86      1183867.00        298664.47  California\n3     68389.47      1583773.40        299737.29    New York\n4     73964.56      1282782.70        303319.26     Florida\n5     66532.53       105751.03        304768.73         NaN\n6     77644.01        99881.34        140574.81    New York\n7     64664.71      1839553.10        137962.62  California\n8    756328.80       184135.98        134050.07     Florida\n9    163334.88       188679.17        304981.62  California\n10  1601913.00       110584.11        229160.95     Florida\n11   106671.96        91890.61        249744.55  California\n12    93663.75       128320.38        249839.44     Florida\n13    96992.39       138495.07        252664.93  California\n14   116943.24       158547.42        256512.92     Florida\n15   116523.61       122816.84        261776.23    New York\n16    76013.11       128597.55        264346.06  California\n17    94657.16      1485077.50        282574.31  California\n18    76107.60       127884.55        353183.81  California\n19    66051.52      1828645.50        118148.20     Florida\n20   165379.20             NaN        471784.10    New York\n21   162547.70       158377.59        443898.53  California\n22  1534441.51       108145.55        407934.54  California\n23   144472.41       118871.85        383199.62    New York\n24   142607.34        91391.77        366168.42     Florida\n25   131676.90        99884.71        362861.36    New York\n26   136615.46       148198.87        127716.82     Florida\n27   130698.13       148530.06        323876.68  California\n28   165379.20       136897.80        471784.10    New York'

In [54]:
ds.tail(12)

     R&D Spend  Administration  Marketing Spend       State
17    94657.16      1485077.50        282574.31  California
18    76107.60       127884.55        353183.81  California
19    66051.52      1828645.50        118148.20     Florida
20   165379.20             NaN        471784.10    New York
21   162547.70       158377.59        443898.53  California
22  1534441.51       108145.55        407934.54  California
23   144472.41       118871.85        383199.62    New York
24   142607.34        91391.77        366168.42     Florida
25   131676.90        99884.71        362861.36    New York
26   136615.46       148198.87        127716.82     Florida
27   130698.13       148530.06        323876.68  California
28   165379.20       136897.80        471784.10    New York

In [140]:
ds.columns

Index(['R&D Spend', 'Administration', 'Marketing Spend', 'State'], dtype='object')

In [55]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        29 non-null     float64
 1   Administration   28 non-null     float64
 2   Marketing Spend  29 non-null     float64
 3   State            28 non-null     object
dtypes: float64(3), object(1)
memory usage: 1.0+ KB

In [56]:
dt=pd.read_csv('dirtydata.csv')
dt

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

dt.info()

df=dt.dropna()
df

In [57]:
dt.dropna(inplace=True)
print(dt)
dt.loc[12,"Maxpulse"]

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

120

In [58]:
dt=pd.read_csv('dirtydata.csv')
dt.fillna(130,inplace=True,)
dt

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112     130.0
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           130    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132     130.0
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [59]:
dt=pd.read_csv('dirtydata.csv')
dt["Calories"].fillna(130,inplace=True)
dt

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112     130.0
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132     130.0
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [60]:
dt=pd.read_csv('dirtydata.csv')
x=dt["Calories"].mean()
dt["Calories"].fillna(x,inplace=True)
dt

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130    409.10
1         60  '2020/12/02'    117       145    479.00
2         60  '2020/12/03'    103       135    340.00
3         45  '2020/12/04'    109       175    282.40
4         45  '2020/12/05'    117       148    406.00
5         60  '2020/12/06'    102       127    300.00
6         60  '2020/12/07'    110       136    374.00
7        450  '2020/12/08'    104       134    253.30
8         30  '2020/12/09'    109       133    195.10
9         60  '2020/12/10'     98       124    269.00
10        60  '2020/12/11'    103       147    329.30
11        60  '2020/12/12'    100       120    250.70
12        60  '2020/12/12'    100       120    250.70
13        60  '2020/12/13'    106       128    345.30
14        60  '2020/12/14'    104       132    379.30
15        60  '2020/12/15'     98       123    275.00
16        60  '2020/12/16'     98       120    215.20
17        60  '2020/12/17'    100       120    300.00
18        45  '2020/12/18'     90       112    304.68
19        60  '2020/12/19'    103       123    323.00
20        45  '2020/12/20'     97       125    243.00
21        60  '2020/12/21'    108       131    364.20
22        45           NaN    100       119    282.00
23        60  '2020/12/23'    130       101    300.00
24        45  '2020/12/24'    105       132    246.00
25        60  '2020/12/25'    102       126    334.50
26        60      20201226    100       120    250.00
27        60  '2020/12/27'     92       118    241.00
28        60  '2020/12/28'    103       132    304.68
29        60  '2020/12/29'    100       132    280.00
30        60  '2020/12/30'    102       129    380.30
31        60  '2020/12/31'     92       115    243.00

In [61]:
dt=pd.read_csv('dirtydata.csv')
x=dt["Calories"].median()
dt["Calories"].fillna(x,inplace=True)
dt

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112     291.2
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132     291.2
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [62]:
dt=pd.read_csv('dirtydata.csv')
x=dt["Calories"].mode()[0]
dt["Calories"].fillna(x,inplace=True)
dt

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112     300.0
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132     300.0
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [63]:
dt=pd.read_csv('dirtydata.csv')
dt.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12     True
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
dtype: bool

In [64]:
dt.drop_duplicates(inplace=True)
dt

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0